extends layout

block content
  
  textarea#results()
  button#startStop() Start
  
  button#follow() Stop Follow
  
  script(type="text/javascript", src="javascripts/jquery-1.12.3.js")
  script(type="text/javascript", src="javascripts/main.js")